:root{
  --bg: #1b2024;
  --t: #fafafa;
  --t2: #cecece;
}

body {
  background-color:var(--bg);
}

* {
  box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6,i {
  color: var(--t);
}

h1{
  font-weight: 500;
}

.dragdrop-icon i {
  font-size: 3em;
}

.dragdrop-outer {
  padding: 14px;
  border-radius: 4px;
}

.dragdrop-inner {
  border-radius: 4px;
}